body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.hide {
	display: none;
}

.modal-overlay {
	background: #444;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.5;
}

.modal {
	z-index: 9999;
	background: #1E1E1A;
	color: #fff;
	position: absolute;
	width: 500px;
	min-height: 200px;
}

.modal .header h1 {
	margin: 0;
	width: 94%;
	display: inline-block;
}

.modal .header .close {
	background: none;
	border: none;
	color: #fff;
	display: inline-block;
	font-size: 2em;
	margin: 0;
	padding: 0;
	width: 5%;
	position: relative;
	top: 0;
	right: 0;
}

.modal .header .close:hover {
	cursor: pointer;
	background: rgb(44, 126, 206);
}